<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maita.yuedian.vulnerability.library.mapper.SysOperationLogMapper">

    <resultMap id="BaseResultMap" type="com.maita.yuedian.vulnerability.library.domain.SysOperationLog">
            <id property="id" column="id" />
            <result property="module" column="module" />
            <result property="type" column="type" />
            <result property="param" column="param" />
            <result property="uri" column="uri" />
            <result property="ip" column="ip" />
            <result property="success" column="success" />
            <result property="errMsg" column="err_msg" />
            <result property="creatorId" column="creator_id" />
            <result property="creatorName" column="creator_name" />
            <result property="createdTime" column="created_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,module,type,param,uri,
        ip,success,err_msg,creator_id,creator_name,
        created_time
    </sql>
</mapper>
